@model List<Models.Item>


@{
    string[] imgSources = new string[3];
    int[] idArray = new int[3];

    for (int i = 0; i < imgSources.Count(); i++)
    {
        idArray[i] = Model[i].ItemId;

        if (Model[i].Image1 != null)
        {
            var base64 = Convert.ToBase64String(Model[i].Image1);
            imgSources[i] = String.Format("data:image;base64,{0}", base64);
        }
        else if (Model[i].Image2 != null)
        {
            var base64 = Convert.ToBase64String(Model[i].Image2);
            imgSources[i] = String.Format("data:image;base64,{0}", base64);
        }
        else if (Model[i].Image3 != null)
        {
            var base64 = Convert.ToBase64String(Model[i].Image3);
            imgSources[i] = String.Format("data:image;base64,{0}", base64);
        }
        else
        {
            //imgSrc = "~Models/Images/No_Image_Available.jpg";
            imgSources[i] = "../../Images/No_Image_Available.jpg";
        }
    }
}

<div class="ads-container">
    <div class="ads-title"><h3>Last Items</h3></div>
    <a onclick="firstImg()">
        <div id="first-item" class="div-images">
            <img id="first-image" class="ads-images" value="@idArray[0]" src="@imgSources[0]" />
        </div>
    </a>
    <a onclick="secondImg()">
        <div id="second-item" class="div-images">
            <img id="second-image" class="ads-images" value="@idArray[1]" src="@imgSources[1]" />
        </div>
    </a>
    <a onclick="thirdImg()">
        <div id="third-item" class="div-images">
            <img id="third-image" class="ads-images" value="@idArray[2]" src="@imgSources[2]" />
        </div>
    </a>
</div>
<script>
    function  firstImg()
    {
        //var id = $('#first-image').value;

        var id = document.getElementById("first-image").attributes["value"].value;

        window.location = '/Home/Details/' + id;
    }
    function secondImg() {

        var id = document.getElementById("second-image").attributes["value"].value;

        window.location = '/Home/Details/' + id;
    }
    function thirdImg() {

        var id = document.getElementById("third-image").attributes["value"].value;

        window.location = '/Home/Details/' + id;

    }

</script>
<script src="@Url.Content("~/Scripts/timer.js")"></script>
