@model ShopSecondHand.Models.ItemViewModel


<div class="item-box">
    @{
        var imgSrc = "";

        if (Model.Image1 != null)
        {
            var base64 = Convert.ToBase64String(Model.Image1);
            imgSrc = String.Format("data:image;base64,{0}", base64);
        }
        else if (Model.Image2 != null)
        {
            var base64 = Convert.ToBase64String(Model.Image2);
            imgSrc = String.Format("data:image;base64,{0}", base64);
        }
        else if (Model.Image3 != null)
        {
            var base64 = Convert.ToBase64String(Model.Image3);
            imgSrc = String.Format("data:image;base64,{0}", base64);
        }
        else
        {
            //imgSrc = "~Models/Images/No_Image_Available.jpg";
            imgSrc = "../../Images/No_Image_Available.jpg";
        }
    }
    <div class="div-details">

        <h3 class="name">@Model.Name</h3>

        <h5>&nbsp Date: @Model.TimeCreation.ToShortDateString()</h5>

        <h4>&nbsp @Model.ShortDescription</h4>

        <div class="div-image"><img class="image" src="@imgSrc" title="@Model.Name" alt="Picture" /></div>

        <div>&nbsp Price: $@Model.Price</div>
    </div>


    <div class="index-link-outblock">
        <div class="detail-link">
            <form method="post" action="@Url.Action("Details", "Home",new { id = Model.ItemId })">
                <input type="submit" class="item-button" value="Details" />
            </form>
        </div>
        @if (User.Identity.Name == Model.Owner.UserName)
        {

            <div class="buy-link">
                <form method="get" action="@Url.Action("EditItem", "Home",new { id = Model.ItemId })">
                    <input type="submit" class="item-button" value="Edit the Ad" />
                </form>
            </div>

        }
        else
        {
            <div class="buy-link">
                <form method="post" action="@Url.Action("AddToCart", "Cart",new { id = Model.ItemId })">
                    <input type="submit" class="item-button" value="Add to Cart" />
                </form>
            </div>
        }
    </div>
</div>



